# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual env
.venv/
env/
venv/

# Editores / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# App data
*.db
instance/
data/

# Segredos
.env

setkey.ps1

*.lnk
